<!DOCTYPE html>
<html>
	<head>
		<title>Signup form</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/webjars/skeleton/2.0.4/css/skeleton.css">
	</head>
	<body>
		<main class="container">
			<form>
				<div class="row">
					<label class="three columns" for="Description">Description</label>
					<input class="nine columns" type="email" placeholder="contact@mailbox.com" id="adminEmail">
				</div>
				<div class="row">
					<label class="three columns" for="adminEmail">Admin email</label>
					<input class="nine columns" type="email" placeholder="contact@mailbox.com" id="adminEmail">
				</div>
				<div class="row">
					<label class="three columns" for="contactEmail">Contact email</label>
					<input class="nine columns" type="email" placeholder="contact@mailbox.com" id="contactEmail">
				</div>
				<div class="row">
					<label class="three columns" for="forward">Forward to contact email</label>
					<input class="nine columns" type="checkbox" id="forward">
				</div>
			</form>
		</main>
	</body>
</html>
